

<body>
  <div align="right"> <input type="submit"  routerLink='/app-login' value="LogOut" class="btn btn-success">
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Welcome Customer!!!</h5>
              <div class="text-center">
              <button class="btn btn-primary" routerLink='/app-booking' type="submit" >Book A Flight</button></div><br>
              
              <div class="text-center">
              <button class="btn btn-primary" routerLink='/app-cancelbooking' type="submit">View Bookings</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
