<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
  <button type="button" class="btn btn-primary" routerLink="/app-customeroperations">Home</button>
</div>
<div align="center">
  <label> Enter User name
  <input required type="text" #usernameRef='ngModel' name="username" [(ngModel)]="username" ngModel class="form-control"></label>
  <div *ngIf='usernameRef.errors
              && usernameRef.touched' class="alert alert-danger">
      <div [hidden]='!usernameRef.errors.required'>
          Provide User name
      </div>
  </div>

  <input type="button" value="search" (click)="getbookingbyid()" class="btn btn-primary" class="form-group"/>
</div>
<div *ngIf="book!=null else elseBlock">
<form>
        <div class="container" *ngFor="let b of book">
          <br>
      <h2>Booking Details:</h2><br>
      <div>
      Booking ID   : <label class="col-sm-1"> {{b.bookingId}} </label><br>
    </div>
    <div>
      Booking Cost: <label class="col-sm-1"> {{b.ticketCost}} </label><br>
    </div>
    <div>
      Booking Date: <label class="col-sm-3"> {{b.bookingDate}} </label><br>
    </div><br><br>
      <h4>Flight Deatils:</h4>
      <div class="form-group">
        Flight Number:  <label class="col-sm-1">{{b.scheduledflight.flight.flightNumber}}</label><br>
      </div>
      <div class="form-group">
        Source Airport: <label class="col-sm-4">{{b.scheduledflight.sourceairport.airportName}}</label><br>
      </div>
      <div class="form-group">
        Destination Airport: <label class="col-sm-4">{{b.scheduledflight.destinationairport.airportName}}</label><br>
      </div>
      <div class="form-group">
        Arrival time: <label class="col-sm-4">{{b.scheduledflight.arrivaltime}}</label><br>
      </div>
      <div class="form-group">
        Departure time: <label class="col-sm-4">{{b.scheduledflight.departuretime}}</label><br>
      </div>
     
      <h4>Passenger Details</h4><br>
      <table class="table table-striped" l>
        <thead>
        <tr>
            <th>Passenger Name</th>
            <th>Passenger UIN</th>
            <th>Passenger age</th>
            <th>Passenger phone number</th>
            <th>Passenger gender</th>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor="let p of b.passenger">
                <td> {{p.passengername}} </td>
               <td>{{p.passengerUIN}}</td>
                <td> {{p.passengerage}} </td>
                <td>{{p.pnrnumber}}</td>
                <td> {{p.passengergender}} </td>
            </tr>
        </tbody>
        </table>
    <br>
    <button class="btn btn-danger" (click)="delete(b)" type="submit">Cancel</button>
</div>
</form>
</div>
<ng-template #elseBlock>
  <h4 align="center"> There are no bookings </h4>
</ng-template>
<div>
</div>


