<html>
<body>
  <div align="right"> <input type="submit"  value="LogOut" class="btn btn-success">
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Welcome Admin!!!</h5>
              <div class="text-center">
                <button class="btn btn-primary" routerLink='/app-flight'>Add A Flight</button>
              </div><br>
              <div class="text-center">
                <button class="btn btn-primary" routerLink='/app-viewflights' type="submit">View Flight</button>
              </div><br>
              <div class="text-center">
                <button class="btn btn-primary" routerLink='/app-searchflight' type="submit">Search Flight</button>
              </div><br>
              <div class="text-center">
                <button class="btn btn-primary" routerLink='/app-scheduledflight' type="submit">Schedule A Flight</button>
              </div><br>
              <div class="text-center">
                <button class="btn btn-primary" routerLink='/app-viewscheduleflight' type="submit">View Scheduled Flight</button>
              </div><br>
              <div class="text-center">
                <button class="btn btn-primary" routerLink='/app-searchscheduledflight' type="submit">Search Scheduled Flight</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<router-outlet></router-outlet>
</html>
              
              
              
