
<div class="container">
  <button type="button" class="btn btn-primary" routerLink="/app-customeroperations">Home</button>
  <form #bookingForm="ngForm">
   
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Flight Booking</h5>
              <div class="form-group">
                <label>&nbsp;&nbsp;&nbsp;Source:</label>
                <select class="form-control" name="sourceairport" [(ngModel)]="source">
                  <option>Select...</option>
                  <option *ngFor="let a of airport" >
                     {{ a.airportName }}
                  </option>
                  </select>
              </div><br>
              <div class="form-group">
                <label>&nbsp;&nbsp;&nbsp;Destination:</label>
                <select class="form-control" name="destinationairport" [(ngModel)]="destination">
                  <option>Select...</option>
                  <option *ngFor="let a of airport" >
                     {{ a.airportName }}
                  </option>
                </select>
              </div><br>
              <label >Date:</label><input type="date"  class="form_control" name="bookingDate" [(ngModel)]="date"><br><br>
              <button class="btn btn-primary" type="submit" (click)="getavailableflights()">Search</button>
            </div>
          </div>
        </div>
      </div>
   
  <br><br>
  
  <table class="table table-striped" *ngIf="flights && flights.length > 0  else elseBlock" >
      <thead>
        <tr>
          <th>SCHEDULED FLIGHT ID</th>
            <th>FLIGHT NUMBER</th>
            <th>CARRIER NAME</th>
            <th>FLIGHT MODEL</th>
            <th>ARRIVAL TIME</th>
            <th>DEPARTURE TIME</th>
            <th>TICKET COST</th>
            <th>AVAILABLE SEATS</th>
            <th>BOOK TICKET</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of flights">
        <td > {{s.scheduledflightid}}</td>
         <td>{{s.flight.flightNumber}}</td>
         <td>{{s.flight.carrierName}}</td>
         <td>{{s.flight.flightModel}}</td>
         <td>{{s.arrivaltime}}</td>
         <td>{{s.departuretime}}</td>
         <td>{{s.ticketcost}}</td>
         <td>{{s.availableSeats}}</td>
         <td>
          <button type="button" class="btn btn-large btn-block btn-primary"  (click)="bookflight(s)">Book</button>
      </td>
        </tr>
    </tbody>
        
    </table>

<ng-template #elseBlock>
  <h4 align="center">No flights are available </h4>
</ng-template>



<div class="container" *ngIf="bookingid!=null">
      
      <div >

          <label>Booking ID: </label>
  
          <input required type="string" [(ngModel)]="bookingid"  readonly="readonly" name="bookingId" value={{bookingid}} ngModel class="form_control">
  
          </div>

          <div >

            <label>User name: </label>
    
            <input required type="string" [(ngModel)]="username" name="username" ngModel class="form_control">
    
            </div>
           
          No of Passenger: <input required max="1" type="number" readonly="readonly" #passengerCountRef='ngModel' value="passengercount" name="noOfPassengers" [(ngModel)]="passengercount" ngModel class="form-control">
  
  <div  class="container" align="center" >
    <h4>Passenger Details:</h4>
    <form >
      <div class="container" *ngIf="passengercount<=4">
       
        <div class="form-row" *ngFor="let obj of passengerarray; let i=index">
        
          <div class="form-group col-md-4">
            <label>Passenger Name</label>
            <input required type="text" #pname='ngModel' class="form-control" name="passengername{{i}}" [(ngModel)]="obj.passengername">
            <div *ngIf='pname.errors && pname.touched' class="alert alert-danger">

              <div [hidden]='!pname.errors.required'> Provide Passenger name </div>
  
          </div>
          </div>

          <div class="form-group col-md-4">
            <label>Passenger UIN</label>
            <input  required type="text" minlength="12" #puin='ngModel' class="form-control" name="passengerUIN{{i}}" maxlength="12" [(ngModel)]="obj.passengerUIN">
            <div *ngIf='puin.errors && puin.touched' class="alert alert-danger">

              <div [hidden]='!puin.errors.required'> Provide Passenger UIN</div>
  
          </div>
          </div>

          <div class="form-group col-md-4">
            <label>Passenger Age</label>
            <input required type="text" #page='ngModel' class="form-control"  name="passengerage{{i}}" [(ngModel)]="obj.passengerage">
            <div *ngIf='page.errors && page.touched' class="alert alert-danger">

              <div [hidden]='!page.errors.required'> Provide Passenger age </div>
  
          </div>
          </div>

          <div class="form-group col-md-4">
            <label>Passenger Phone no</label>
            <input required maxlength="10" type="text" #pphone='ngModel'class="form-control"  pattern="^((\\+91-?)|0)?[0-9]{10}$" name="pnrnumber{{i}}" [(ngModel)]="obj.pnrnumber">
            <div *ngIf='pphone.errors && pphone.touched' class="alert alert-danger">

              <div [hidden]='!pphone.errors.required'> Provide Passenger phone number </div>
  
          </div>
          </div>

          <div class="form-group col-md-4">
            <label>Passenger Gender</label>
            <input required type="text" #pgender='ngModel' class="form-control"  name="passengergender{{i}}" [(ngModel)]="obj.passengergender">
            <div *ngIf='page.errors && page.touched' class="alert alert-danger">

              <div [hidden]='!page.errors.required'> Provide Passenger Gender </div>
  
          </div>
          </div>
           
          <div class="form-group " *ngIf="i!=0">
          <span  (click)="removepassenger(i)" class="btn btn-success" >-</span><br>
        </div>
        
          <div class="form-group " >
            <span  (click)="addpassenger()" class="btn btn-success" >+</span><br>
          </div>
        </div>
        
   
      
     
    </div>
    
      <div align="left">
        
          <p >Maximum 4 passengers per booking</p><br><br>
          <label for="col-sm-4">Billing Address:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name"  size="50"><br>
          <label for="col-sm-4">Contact Number:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input maxlength="10" type="text" name="number">
          <tr>
              <td colspan="2"><input type="checkbox">I accept the terms and conditions</td><br><br>
          </tr>
    <button [disabled]="bookingForm.invalid" class="btn btn-success"  (click)="addbooking(bookingForm.value)"  type="submit">Book Now</button>
          
        </div>
      </form>
          
</div>  
</div> 



